* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 68, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 300px;
}
a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 10px;
}
.vvv { 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;

}
.ddd {
    display: flex;
}