* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(0, 68, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 300px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    margin: 10px;
}
.vvv { 
    color: white;
    font-size: 24px;

}
.ddd {
    display: flex;
    justify-content: center;
    
}
main {
    display: flex;
    flex-direction: column;
}
.carts {
    display: flex;
    flex-direction: row;
}
h6 {
    display: flex;
    justify-content: center; 
}
.carta_h3 {
    color: rgb(0, 68, 255);

}
footer {
    background-color: rgb(30, 41, 59);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h5 {
    color: white;
    font-weight: normal;
}